body{
    background: #c3c3c3;
    margin: 0;
    
}
h1{
    color: #3d8bff;
    font-family:'Sacramento', cursive;
    font-size: 80px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 2px solid white;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}
.column{
    flex: 23.5%;
    max-width: 23.5%;
    padding: 0 4px;
}
.column img{
    margin-top: 1px;
    vertical-align: middle;
    width: 100%;
}
@media (max-width:900px){
    .column{
        flex: 45%;
        max-width: 45%;
    }
}
@media (max-width:600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
}
