$negro : #000000
$color-hover : #80ffb5
$blanco : #fff
$color1 : red
$color2 : purple
.logo
    font-family: 'Montserrat'
    font-weight: 400
    color: aquamarine
    letter-spacing: 8px

.menu
    background: $negro
    width: 100%
    height: 2.5rem
    
.menu li
    
    padding: 7px 40px
    list-style: none

.menu a
    text-decoration: none
    text-align: center
    font-family: 'Montserrat'
    font-size: 12px
    letter-spacing: 1px
    color: $blanco
    transition: color .5s
    font-weight: lighter
    letter-spacing: 4px

.menu a:hover
    color: $color-hover
    text-decoration: none
    border-bottom: 0.5px solid $color-hover
    
h1
    font-family: 'Sen', sans-serif
    color : $color1

h2
    font-family: 'Titillium Web', sans-serif
    color : $color2
