* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  .carousel {
    align-items: center;
    display: flex;
    margin: 30rem auto;
    position: relative;
    width: 310px;
    
    &__images {
      display: flex;
      transform: translateX(0);
      transition: transform 0.25s;
      
      img {
        border-radius: 5px;
        margin-right: 50px;
        box-shadow: 5px 5px 40px rgb(119, 119, 119);
      }
    }
    
    &__button {
      background: rgba(37, 37, 37, 0);
      border: 0;
      border-radius: 50%;
      color: #000;
      cursor: pointer;
      font-size: 4rem;
      font-weight: bold;
      height: 6rem;
      opacity: 0.25;
      position: absolute;
      transition: opacity 0.25s;
      width: 6rem;
      z-index: 1;
      
      &.previous {
        left: -140%;
        top: 100%;
      }
      
      &.next {
        right: 180%;
        top: 100%;
      }
      
      &:hover {
        opacity: 0.5;
      }
    }
  }