@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background-image: url("../img/fondo1.png");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 110%;
    padding-left: 15%;
}
nav{
    margin-top: 1%;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 110%;
    transition: color .5s;
    
}
nav ul li a:hover{
    color: rgb(110, 237, 253);
    text-decoration: none;
}
.hero .container{
    margin-left: 2%;
}
.hero{
    text-transform: uppercase;
    margin-top: 18%;
    
    
}
.hero h1{
    font-size: 500%;
    font-weight: 800;
}
.hero h2{
    font-size: 270%;
    font-weight: 800;
}
.hero h5{
    font-size: 150%;
    font-weight: 800;
}
.boton{
    padding: 3% 5%;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-size: 95%;
    letter-spacing: 3px;
    transition: background-color .6s;
    text-transform: uppercase;
}
.boton:hover{
    color: #000;
    background-color:rgb(110, 237, 253);
    text-decoration: none;

}
.galeria
{
    margin-top: 22%;
}
.galeria h2
{
    font-size: 45px;
    color: #969696;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -4px;
}
.galeria h3{
    font-size: 50px;
    font-weight: 700;
}
.galeria p{
    margin-top: 7%;
    font-size: 20px;
    font-weight: 400;
}
.seccion-media
{
    background:linear-gradient(rgba(2,2,2,.1),rgba(0,0,0,.5)),url("../img/fondo2.png");
    background-size: cover;
    height: 5%;
    padding: 6% 0;
}
.seccion-media h1{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}
.seccion-media p{
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}
.seccion-baja
{
    padding: 5%;
}
.seccion-baja .texto
{
    padding-top: 7%;
    padding-left: 0;

}
.seccion-baja .texto h1{
    font-size: 350%;
    font-weight: 800;
}
.fondo-footer
{
    background-color: #e9e9e9;
    margin: 7% 2% 3% 2%;
}
.footer{
    
    padding: 4% 3%;
}
footer ul li a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 90%;
    transition: color .5s;
}
footer ul li a:hover{
    text-decoration: none;
    color:rgb(110, 237, 253) ;
}
.footer-informacion
{
    padding: 0 5% 4% 5%;
}

footer h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 185%;
}
footer h2{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 120%;
}
.derechos{
    padding-top: 8%;
    padding-left: 10%;
    color: #494949;
    font-weight: 500;
}
.redes a{
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 15%;
    padding: 3% 3%;
    text-align: center;
    margin: 14% 5% 0 0;
    font-size: 130%;
    transition: background-color .6s;
}
.redes a:hover{
    color: #000;
    background-color:rgb(110, 237, 253);
}
.negro
{
    background-color: #000;
}
.carousel {
    box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20rem auto 10rem auto;
    position: relative;
    width: 100px;
    left: -40%;
  }
  
  .carousel_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  
  .carousel_images img {
    border-radius: 5px;
    margin-right: 45px;
    -webkit-box-shadow: 5px 5px 40px #777777;
            box-shadow: 5px 5px 40px #777777;
  }
  
  .carousel_button {
    background: rgba(37, 37, 37, 0);
    border: 0;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    font-size: 4rem;
    font-weight: bold;
    height: 6rem;
    opacity: 0.25;
    position: absolute;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    width: 6rem;
    z-index: 1;
  }
  
  .carousel_button.previous {
    left: -480%;
    top: 80%;
  }
  
  .carousel_button.next {
    right: 300%;
    top: 80%;
  }
  
  .carousel_button:hover {
    opacity: 0.5;
  }

  /* Diseño responsivo de la pagina hiking*/
  @media (max-width: 1280px){
    .logo{
        width: 80%;
        padding-left: 5%;
    }
    nav{
        margin-top: 1%;
    }
    nav ul li a{
        color: black;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 70%;
        transition: color .5s;
        
    }
    body{
        background-image: url("../img/fondo1.png") ;
        background-position:2% 8%;
    }
    .hero .container{
        margin-left: 1%;
    }
    .hero{
        text-transform: uppercase;
        margin-top: 10%;
        
        
    }
    .hero h1{
        font-size: 400%;
        font-weight: 800;
    }
    .hero h2{
        font-size: 220%;
        font-weight: 800;
    }
    .hero h5{
        font-size: 120%;
        font-weight: 800;
    }
    .boton{
        padding: 3% 3%;
        font-size: 65%;
    }
    .galeria h2
    {
        font-size: 35px;
    }
    .galeria h3{
        font-size: 40px;
    }
    .galeria p{
        margin-top: 6%;
        font-size: 15px;
    }
    .carousel {
        margin: 10rem 0 10rem 17rem;
        width: 300px;
        height: 50%;
    }
    .carousel_images img {
        width: 60%;
      }
    .carousel_button.previous {
        left: -160%;
        top: 80%;
      }
      
      .carousel_button.next {
        right: 170%;
        top: 80%;
      }
      .seccion-baja
    {
        padding: 3%;
    }
    .seccion-baja .texto
    {
        padding-top: 7%;
        padding-left: 0;

    }
    .seccion-baja img{
        width: 90%;
        padding: 4% 0 2% 0;
    }
    .seccion-baja .texto h1{
        font-size: 260%;
        font-weight: 800;
    }
    .fondo-footer
    {
        margin: 7% 1% 2% 1%;
    }
    .footer{
        
        padding: 4% 1% 4% 4%;
    }
    footer ul li a{
        font-size: 80%;
    }

    footer h1{
        font-size: 190%;
    }
    footer h2{
        font-size: 130%;
    }
    .derechos{
        padding-top: 8%;
        padding-left: 8%;
    }
    .redes a{
        width: 18%;
    }
    }
    @media (max-width: 768px){
        .logo{
            width: 40%;
            padding-left: 2%;
        }
        nav{
            margin-top: 1%;
        }
        nav ul li a{
            color: black;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 30%;
            transition: color .5s;
            
        }
        body{
            background-image: url("../img/fondo1.png") ;
            background-size: 70%;
        }
        .hero .container{
            margin-left: -2%;
        }
        .hero{
            text-transform: uppercase;
            margin-top: 2%;
            
            
        }
        .hero h1{
            font-size: 200%;
            font-weight: 800;
        }
        .hero h2{
            font-size: 100%;
            font-weight: 800;
        }
        .hero h5{
            font-size: 60%;
            font-weight: 800;
        }
        .boton{
            padding: 3% 3%;
            font-size: 35%;
        }
        .galeria h2
        {
            font-size: 35px;
        }
        .galeria h3{
            font-size: 40px;
        }
        .galeria p{
            margin-top: 6%;
            font-size: 15px;
        }
        .carousel {
            width: 100px;
            height: 5%;
        }
        .carousel_images img {
            width: 20%;
          }
        .carousel_button.previous {
            left: -160%;
            top: 80%;
          }
          
          .carousel_button.next {
            right: 170%;
            top: 80%;
          }
          .seccion-baja
        {
            padding: 3%;
        }
        .seccion-baja .texto
        {
            padding-top: 7%;
            padding-left: 0;
    
        }
        .seccion-baja img{
            width: 90%;
            padding: 4% 0 2% 0;
        }
        .seccion-baja .texto h1{
            font-size: 260%;
            font-weight: 800;
        }
        .fondo-footer
        {
            margin: 7% 1% 2% 1%;
        }
        .footer{
            
            padding: 4% 1% 4% 4%;
        }
        footer ul li a{
            font-size: 80%;
        }
    
        footer h1{
            font-size: 190%;
        }
        footer h2{
            font-size: 130%;
        }
        .derechos{
            padding-top: 8%;
            padding-left: 8%;
        }
        .redes a{
            width: 18%;
        }
    }